*{
    box-sizing: border-box;
    /* width: 100px; */
    /* height: 50px; */
}

body{
    height: 100vh;
    /* border: 5px solid red; */
    display: flex;
   /* justify-content: center; */
   /* align-items: center; */
    background-image: url(./img/Rectangle\ 1.png);
}

.this{
position: relative;
top: 40px;
left: 620px;
}

.this ul{
    display: flex;
}

.this ul li{

list-style:none ;
font-size:15px ;

}

.this ul li a{
    font-size: 20px;
    color: white;
    font-family:sans-serif;
    display: block;
    padding: 3px 22px;
    text-decoration: none;

}

.this ul li a:hover{
color: rgb(255, 189, 9);
}

.inf{
    position: absolute;
    top: 300px;
    left: 100px;
    color: aliceblue;
    font-size: 20px;
   
}

.num1{
    position: relative;
   
}